/*@import url("https://fonts.googleapis.com/css?family=Lato:300");*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Open+Sans&family=Zilla+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-title {
  font-family: Montserrat;
  font-style: italic;
  font-size: 18px;
}

.navbar-font {
  font-family: Open Sans;
  letter-spacing: 1px;

}

.ms-auto
{
  margin-left: auto !important;
}

.white-text{
  color: rgb(255, 254, 254);
}

.black-text {
  color: rgb(0, 0, 0, 55, 255, 255);
}


.cardHighlight {
  min-height: 100%;
}

.color-nav

{
  background-color: #11a204
}

.nav-margin {
  float: right;
}

.nav-hover:hover
{
  background-color: rgb(56, 65, 56);
}

.courseCard {
  background-color: #1f2421;
  color: white;
  
}

.no-padding{
  height: 100vh;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}


/*For Highlights border*/
.block {
  position: relative;
  background: linear-gradient(0deg,black,darkgray,darkgreen);
}

.block:before,
.block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, rgb(0, 2, 128), green, black, rgb(92, 65, 246), green, black);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(40px);
}



/*For Highlights border END*/

/*Login page*/


.Auth-form-container {
  padding: 2rem;
  content: center;
  display:  center;
  justify-content: center;
  align-items: center;
}


.Auth-form-content {
  position: sticky;
}

.Auth-form-title {
  text-align: center;
  font-family: Montserrat;
  font-size: 3.5rem;
  color: #FFFFFF;
  font-weight: 800;
}

.text-form {
  margin-left: 3rem;
}

/*Button Animation for Submit button*/
.button-login {
  min-width: 100px;
  min-height: 50px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgb(7, 96, 168);
  background: #748b02;
  background: linear-gradient(90deg, rgba(35, 239, 191, 0.8) 0%, rgb(30, 192, 38) 60%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(61, 217, 244, 0.763);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

  /*Card*/

  .detail-card{
    min-height: 350px;
  }

  .card-title {
    font-size: 50px;
  }

  .card-sub , .card-text {
    text-align: left !important;
  }

  .button-buy {
    margin-top: 200px;
    float: left !important;
  }

  .span-spacing {
    color:  rgb(245, 243, 243);
  }

 .align-product {
  display:  flex;
  align-items: center;
  justify-content: center;
 }

 /*for product column*/

 .card-group {
   display: flex;
   flex-direction: column;
 }

 .card {
  position: relative; 
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}
  .card-body{
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

 .card1 {
   min-height: 100%;
 }

 .banner-content {
  position: relative;
}

.banner-image {
  width: 100%;
  height: auto;
}

.banner-content p {
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}


.banner-content h1 {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.banner-content button {
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.highlight-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem; 
}

.animated-heading {
  color: hsl(0, 0%, 28%);
  font-size: 50px!important;
  font-weight: bold!important;
  font-family: monospace;
  letter-spacing: 8px!important;
  cursor: pointer;
  text-transform: uppercase;
  padding: 64px;
  background: linear-gradient(to right, hsl(142, 90%, 58%) 0, hsl(220, 97%, 59%) 10%, hsla(120, 9%, 98%, 0.93) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  70% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.text-light {
  color: white; 
}

.light-green-text {
  color: lightgreen;
}
